mixin _logo-inner
  img.logo__image(
    src="@img/logo.svg",
    width="35",
    height="35",
    alt="")
  span.logo__text Ink. House

mixin logo(data={})
  if (page === "index")
    .logo(class=data.className)
      +_logo-inner
  else 
    a.logo(class=data.className href="index.html")
      +_logo-inner
    
